@font-face {
    font-family: 'SF Pro Text';
    src: url('/fonts/san-francisco-pro-text/SFProText-HeavyItalic.eot');
    src: url('/fonts/san-francisco-pro-text/SFProText-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/san-francisco-pro-text/SFProText-HeavyItalic.woff2') format('woff2'),
        url('/fonts/san-francisco-pro-text/SFProText-HeavyItalic.woff') format('woff'),
        url('/fonts/san-francisco-pro-text/SFProText-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('/fonts/san-francisco-pro-text/SFProText-LightItalic.eot');
    src: url('/fonts/san-francisco-pro-text/SFProText-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/san-francisco-pro-text/SFProText-LightItalic.woff2') format('woff2'),
        url('/fonts/san-francisco-pro-text/SFProText-LightItalic.woff') format('woff'),
        url('/fonts/san-francisco-pro-text/SFProText-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('/fonts/san-francisco-pro-text/SFProText-Semibold.eot');
    src: url('/fonts/san-francisco-pro-text/SFProText-Semibold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/san-francisco-pro-text/SFProText-Semibold.woff2') format('woff2'),
        url('/fonts/san-francisco-pro-text/SFProText-Semibold.woff') format('woff'),
        url('/fonts/san-francisco-pro-text/SFProText-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('/fonts/san-francisco-pro-text/SFProText-BoldItalic.eot');
    src: url('/fonts/san-francisco-pro-text/SFProText-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/san-francisco-pro-text/SFProText-BoldItalic.woff2') format('woff2'),
        url('/fonts/san-francisco-pro-text/SFProText-BoldItalic.woff') format('woff'),
        url('/fonts/san-francisco-pro-text/SFProText-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('/fonts/san-francisco-pro-text/SFProText-Light.eot');
    src: url('/fonts/san-francisco-pro-text/SFProText-Light.eot?#iefix') format('embedded-opentype'),
        url('/fonts/san-francisco-pro-text/SFProText-Light.woff2') format('woff2'),
        url('/fonts/san-francisco-pro-text/SFProText-Light.woff') format('woff'),
        url('/fonts/san-francisco-pro-text/SFProText-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('/fonts/san-francisco-pro-text/SFProText-SemiboldItalic.eot');
    src: url('/fonts/san-francisco-pro-text/SFProText-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/san-francisco-pro-text/SFProText-SemiboldItalic.woff2') format('woff2'),
        url('/fonts/san-francisco-pro-text/SFProText-SemiboldItalic.woff') format('woff'),
        url('/fonts/san-francisco-pro-text/SFProText-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('/fonts/san-francisco-pro-text/SFProText-Heavy.eot');
    src: url('/fonts/san-francisco-pro-text/SFProText-Heavy.eot?#iefix') format('embedded-opentype'),
        url('/fonts/san-francisco-pro-text/SFProText-Heavy.woff2') format('woff2'),
        url('/fonts/san-francisco-pro-text/SFProText-Heavy.woff') format('woff'),
        url('/fonts/san-francisco-pro-text/SFProText-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('/fonts/san-francisco-pro-text/SFProText-MediumItalic.eot');
    src: url('/fonts/san-francisco-pro-text/SFProText-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/san-francisco-pro-text/SFProText-MediumItalic.woff2') format('woff2'),
        url('/fonts/san-francisco-pro-text/SFProText-MediumItalic.woff') format('woff'),
        url('/fonts/san-francisco-pro-text/SFProText-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('/fonts/san-francisco-pro-text/SFProText-Regular.eot');
    src: url('/fonts/san-francisco-pro-text/SFProText-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/san-francisco-pro-text/SFProText-Regular.woff2') format('woff2'),
        url('/fonts/san-francisco-pro-text/SFProText-Regular.woff') format('woff'),
        url('/fonts/san-francisco-pro-text/SFProText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('/fonts/san-francisco-pro-text/SFProText-RegularItalic.eot');
    src: url('/fonts/san-francisco-pro-text/SFProText-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/san-francisco-pro-text/SFProText-RegularItalic.woff2') format('woff2'),
        url('/fonts/san-francisco-pro-text/SFProText-RegularItalic.woff') format('woff'),
        url('/fonts/san-francisco-pro-text/SFProText-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('/fonts/san-francisco-pro-text/SFProText-Medium.eot');
    src: url('/fonts/san-francisco-pro-text/SFProText-Medium.eot?#iefix') format('embedded-opentype'),
        url('/fonts/san-francisco-pro-text/SFProText-Medium.woff2') format('woff2'),
        url('/fonts/san-francisco-pro-text/SFProText-Medium.woff') format('woff'),
        url('/fonts/san-francisco-pro-text/SFProText-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('/fonts/san-francisco-pro-text/SFProText-Bold.eot');
    src: url('/fonts/san-francisco-pro-text/SFProText-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/san-francisco-pro-text/SFProText-Bold.woff2') format('woff2'),
        url('/fonts/san-francisco-pro-text/SFProText-Bold.woff') format('woff'),
        url('/fonts/san-francisco-pro-text/SFProText-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

